#phone-dev-mainwindow {
    position:fixed;
    background: rgba(255,255,255,0.9);
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
    font-family: sans-serif;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100000;
    will-change: top, left;
    color: #000;
    max-width: 350px;
    max-height: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .header{
        padding: 2px 15px;
        background: rgba(0,0,0,0.05);
        display: flex;
        cursor: move;
        .title{
            margin: auto 0px;
            font-size: 14px;
            pointer-events: none;
        }
        .buttons{
            margin-left: auto;
            display: flex;
            .button{
                padding: 10px 0px;
                cursor: pointer;
                display: flex;
                margin-left: 10px;
                .closebutton{
                    appearance: none;
                    border: none;
                    background: none;
                    cursor: pointer;
                    position: relative;
                    width: 14px;
                    height: 14px;
                    &::before, &::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 2px;
                        height: 15px;
                        background: black;
                    }
                    &::before{
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                    &::after{
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
                .minibutton{
                    appearance: none;
                    border: none;
                    background: #000;
                    height: 2px;
                    width: 18px;
                    padding: 0px;
                    margin-top: auto;
                    cursor: pointer;
                }
            }
        }
    }
    .menu{
        display: flex;
        overflow-x: scroll;
        .item{
            display: block;
            padding: 5px 15px;
            cursor: pointer;
            font-size: 12px;
            white-space: nowrap;
            border-bottom: solid 1px #ccc;
            &:hover{
                background: rgba(200, 200, 255, 0.2);
            }
            &.selected{
                background: rgba(200, 200, 255, 0.4);
                border-bottom: solid 1px #55c;
                z-index: 1;
            }
        }
        .dummyitem{
            display: block;
            border-bottom: solid 1px #ccc;
            width: 100%;
        }
    }
    .content{
        flex: 1;
        &.elements{
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            padding: 5px 10px;
            .htmleditbox{
                appearance: none;
                font-size: 14px;
                font-family: sans-serif;
                border: none;
                outline: none;
                padding: 0px;
                margin: 0px;
                color: #000;
                background: none;
                min-width: 5px;
                resize: none;
            }
            .item{
                font-size: 14px;
                .tag{
                    display: flex;
                    white-space: nowrap;
                    .attributes{
                        display: flex;
                        .attribute{
                            margin-left: 5px;
                            display: flex;
                            color: #a52;
                            .value{
                                display: flex;
                                .valuetext{
                                    max-width: 250px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    color: #44c;
                                }
                                &::before{
                                    content: '="';
                                    color: #a52;
                                }
                                &::after{
                                    content: '"';
                                    color: #a52;
                                }
                            }
                        }
                    }
                }
                .tag, .tagclose {
                    color: #c5a;
                }
                .children{
                    padding-left: 20px;
                    >.text {
                        color: #000;
                        &::before, &::after{
                            content: '"';
                        }
                    }
                    &.nochildren{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
        &.console{
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            .logs{
                padding: 0px 10px;
                flex: 1;
                .item{
                    padding: 2px 10px;
                    padding-top: 5px;
                    display: flex;
                    border-bottom: solid 1px #f0f0f0;
                    font-size: 12px;
                    &[data-type="log"]{
                        color: black;
                    }
                    &[data-type="warn"]{
                        color: orange;
                    }
                    &[data-type="error"]{
                        color: red;
                    }
                    &[data-type="debug"]{
                        color: blue;
                    }
                    &[data-type="input"]{
                        color: green;
                    }
                    &[data-type="output"]{
                        color: green;
                    }
                    .text{
                        display: block;
                        word-wrap: break-word;
                        white-space: pre-wrap;
                        overflow: hidden;
                    }
                    .time{
                        margin-left: auto;
                        color: #888;
                        font-size: 10px;
                    }
                }
            }
            .header{
                border-bottom: solid 1px #f0f0f0;
                position: sticky;
                top: 0px;
                background: rgba(255,255,255,0.5);
            }
            .input{
                appearance: none;
                padding: 10px 20px;
                border: none;
                border-top: solid 1px #f0f0f0;
                outline: none;
                font-size: 14px;
                position: sticky;
                bottom: 0px;
                background: rgba(255,255,255,0.5);
            }
        }
        &.network{
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            .requests{
                width: 120px;
                flex: 1;
                display: flex;
                flex-direction: column-reverse;
                overflow-y: scroll;
                .item{
                    padding: 5px 10px;
                    cursor: pointer;
                    border-right: solid 1px #dfdfdf;
                    &:nth-child(odd){
                        background: rgba(100, 100, 100, 0.1);
                    }
                    &:hover{
                        background: rgba(200, 200, 255, 0.2);
                    }
                    &.selected{
                        background: rgba(200, 200, 255, 0.4);
                        border-right: solid 1px #55c;
                    }
                    .url{
                        display: flex;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                        font-size: 10px;
                    }
                }
                .dummyitem{
                    height: 100%;
                    border-right: solid 1px #dfdfdf;
                }
            }
        }
    }
    .fullbtn{
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #f0f0f0;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 10000000;
    }
    &.minimized{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        .fullbtn{
            display: flex;
        }
    }
}